body{
    background-color: #282B2D;
}

p, h1, h2, h3, li, td,th{
    color: #CCC9C3;
}

a{
    color: #EBD245;
}

/*
Modules color: #FFE348
Structs color: #50D6CF
Enums color: #A69F94
Constants color: #84AACA
Traits color: #BO81F1
Functions color: #56BA82
Type definition color: #FE8B1A
*/
